<div class="heading">
    <h2 class="heading__title"><%= title %></h2>
    <h3 class="heading__subtitle"><%= subtitle %></h3>
    <div class="heading__lines">
        <span class="heading__line w-1 ml-1"></span>
        <span class="heading__line w-3 ml-1"></span>
        <span class="heading__line w-60 h-1"></span>
        <span class="heading__line w-3 ml-1"></span>
        <span class="heading__line w-1 ml-1"></span>
    </div>
</div>