.pretty-scroll {
    @apply overflow-y-auto;
    scrollbar-width: thin;
    scrollbar-color: #a0aec0 #f4f8fb;

    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        cursor: pointer;
        background-color: #f4f8fb;
    }

    &::-webkit-scrollbar-track {
        cursor: pointer;
        background-color: #f4f8fb;
    }

    &::-webkit-scrollbar-thumb {
        cursor: pointer;
        background-color: #a0aec0;
    }
}